.footer-container {
  background-image: url("../../Images/Background.jpg");
  color: $light-color;
  font-family: $font;
  font-size: 10px;

  position: fixed;
  bottom: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  height: 60px;
  width: 100%;
}

.footer-section1 {
  a {
    color: #97c93d;
    &:hover {
      color: $secundary-color;
    }
  }
}

.footer-section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .section2-icon {
    color: $light-color;
    font-size: 3rem;
    margin-top: 10px;
    &:hover {
      color: $secundary-color;
    }
  }
}

.footer-section3 {
  p {
    cursor: pointer;
    &:hover {
      color: $secundary-color;
    }
  }
}