

.profile-main-container {
  background-image: url("../../Images/Background.jpg");
  height: 100vh;
  font-size: 1.8rem;
  // color: $title-color;
  
}



.articles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
