
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-height: 800px;
  width: clamp(350px, 511px, 511px);
  font-family: $font;
  .Register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 563px;
    input {
      border: none;
      background-color: $light-color;
      border-bottom: 1px solid $dark-color;
      font-size: 2rem;
      color: $dark-color;
      margin: 10px;
      outline: none;
      &::placeholder {
        color: $dark-color;
      }
      width: 98%;
    }
    .select {
      align-self: center;
      border: none;
      background-color: $light-color;
      border-bottom: 1px solid $dark-color;
      font-size: 2rem;
      color: $dark-color;
      margin: 10px;
      outline: none;
      width: 98%;
    }
    .form-title {
      h1 {
        color: $dark-color !important;
      width: 90%;
    }
    .input-container {
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: solid 1px $dark-color;
      margin: 30px 20px 10px 20px;
      padding-bottom: 10px;
      width: 80%;
      .input-icon {
        color: $dark-color;
        margin-right: 15px;
        width: 24px;
        height: 24px;
      }
    }
    .msg-alert {
      align-items: center;
      display: flex;
      color: salmon;
      align-self: center;
      justify-content: center;
      p {
        margin-left: 5px;
      }
    }
    .form-btn {
      align-self: center;
      background-color: $dark-color;
      border: none;
      border-radius: 18px;
      color: $light-color;
      font-size: 25px;
      height: 70px;
      margin-top: 20px;
      outline: none;
      width: 98%;
      font-family: $font;
      &:hover {
        background-color: #B47EA3;
        color: $dark-color;
        cursor: pointer;
      }
    }
  }
}

.form-title {
  margin-bottom: 30px;
  color: $dark-color;
}