.result__content {
  margin: 2rem 4rem 0 4rem;
  color: $color-text;
  border: none;
  padding: 1.2rem;
  transition: 0.6s;
  cursor: pointer;
  &:hover {
    box-shadow: 5px 3px 15px gray;
    // margin-left: 5rem;
    transition: 0.6s;
  }
  &-guide {
    display: flex;
    h2 {
      font-size: 2rem;
    }
    .icon {
      text-align: center;
      margin: auto 1rem;
    }
  }
  p {
    margin-top: 1.5rem;
  }
}
