.main__result {
  height: 100vh;
  color: $color-text;
  display: flex;
  align-items: center;
  justify-content: center;
  &-left {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  &-right {
    
  }
}
