

body {
  font-size: 1.8rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $dark-color;
}

main {
  height: 100vh;
  padding-top: 10%;
  text-align: center;
  img {
    width: 8rem;
    height: 8rem;
  }
  h1 {
    text-align: center;
    font-size: 6rem;
    color: $title-color;
  }
}

.header {
  background-image: url("../../Images/Background.jpg");
}

.section__input {
  background-color: white;
  border: 1px solid #dfe1e5;
  border-radius: 2.4rem;
  height: 4.6rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  max-width: 58rem;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  input {
    border: none;
    color: $dark-color;
    font-family: $font;
    font-size: 20px;
    height: 3.5rem;
    margin-left: 1rem;
    outline: none;
    width: 80%;
  }
  .icon-search {
    background-color: $secundary-color;
    border: none;
    border-radius: 0 30px 30px 0;
    color: $light-color;
    cursor: pointer;
    height: 4.6rem;
    padding: 1rem 1.8rem;
    outline: none;
    &:hover {
      background-color: #3ba2dd;
    }
    &:active {
      border: none;
      border-color: none;
    }
    &:focus {
      border: none;
      border-color: none;
    }
  }
  &:hover {
    border-color: #dfe1e500;
    box-shadow: 0 1px 6px 0 #20212447;
  }
}

.header__all {
  background-image: url("../../Images/Background.jpg");
  main {
    height: 35rem;
    padding-top: 6%;
    text-align: center;
    img {
      width: 7rem;
      height: 7rem;
      transition: 0.8s;
    }
    h1 {
      text-align: center;
      font-size: 5rem;
      transition: 0.8s;
    }
    transition: 0.8s;
    .section__input {
      
      margin: 0 auto;
      border: 1px solid #dfe1e5;
      border-radius: 2.4rem;
      height: 4rem;
      background-color: white;
      max-width: 48rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3rem;
      input {
        width: 80%;
        height: 3.5rem;
        border: none;
        outline: none;
        margin-left: 1rem;
      }
      .icon-search {
        height: 4rem;
        background-color: $secundary-color;
        cursor: pointer;
        padding: 0.8rem 1.8rem;
      }
      transition: 0.8s;
    }
  }
}

.swal-text {
  color: $dark-color;
  &:hover {
    color: $secundary-color;
  }
}

.result-content__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.results-container {
  width: 70%;
}

