.main__result {
  height: 100vh;
  color: $color-text;
  display: flex;
  &-left {
    width: 40%;
    border-right: 1px solid $border-content;
    .side-content {
      display: flex;
      font-size: 1.4rem;
      padding: 2rem 0;
      border-bottom: 1px solid $border-content;
      cursor: pointer;
      &:hover {
        color: $secundary-color;
        background-color: $title-color;
      }
      .item {
        margin-right: 1rem;
        // box-sizing: content-box;
      }
    }
  }
  &-right {
    text-align: center;
    padding: 3rem;
    * {
      padding-bottom: 3rem;
    }
    p {
      text-align: left;
    }
  }
}
