* .saludo {
  color: red;
}

.section__input {
  border: 1px solid #dfe1e5;
  border-radius: 2.4rem;
  /* background-color: blue; */
  height: 4.6rem;
  width: 58rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.section__input:hover {
  box-shadow: 0 1px 6px 0 #20212447;
  border-color: #dfe1e500;
}

.main-input-text {
  width: 48rem;
  height: 3.5rem;
  border: none;
  outline: none;
}
