@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap");

// Variables
$font: "Oswald", sans-serif;
$title-color: #fff4e8;
$color-text: #313131;
$secundary-color: #2d9cdb;
$border-content: #acacac;
$icon-color: #f5ebe0;
$dark-color: #3C2334;
$light-color: #FBF9FA;

//Genericos
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

// Componentes
@import "./pages/main-search";
@import "./pages/reults";
@import "./pages/nav";
@import "./pages/result-content";
@import "./pages//contentDetail";
